<%= render 'panel_heading' %>
<div id="list-panel-body" class="panel-body">                    
<!--=== Form ===-->
<%= form_tag "/query/conesearch", remote: true, class: 'form-horizontal', role: 'form', method: 'post', name: 'searchForm'  do %>
	<%= button_tag(type: "submit", class: "btn btn-default", name: "commit", value:"process_position_query_list", id: 'process_position_query_list', style: "display:inline-block") do %>
		Process
	<% end %>
	<i id="estate_process_query_list" class="" style="display:inline-block; margin-left:10px;"></i>
	<br>
	<table id= "query_list_table" class="table">
		<thead>
			<tr>
				<th>Sesame Name</th>
				<th>Right Ascension</th>
				<th>Declination</th>
				<th>Search Radius</th>
				<th>Resource</th>
				<th>Action</th>	
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
<% end %>
</div>