<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 
          Universidad Tecnica Federico Santa Maria Mauricio Solar
                                                   Marcelo Mendoza
          Universidad de Chile                     Diego Mardones
          Pontificia Universidad Catolica          Karim Pichara
          Universidad de Concepcion                Ricardo Contreras
          Universidad de Santiago                  Victor Parada

     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Pop Boxes ===-->
<div id="default" class="popbox">
	<strong>Description</strong> 
	<p>Description of control label</p> 
	<strong>Unit</strong> 
	<p>Unit of measure</p>
	<strong>Example</strong> 
	<p>L-List of examples</p>              
</div>
<div id="sesame_info" class="popbox">
	<strong>Source name (Sesame)</strong>
	<p>Source name to be resolved with <a href="http://cdsweb.u-strasbg.fr/cgi-bin/Sesame" target="_blank">Sesame</a></p><br>
	<strong>Description</strong> 
	<p>We use the external resolver Sesame to obtain
			coordinates for the source. Sesame queries the Simbad,
			NED and VizieR services.</p><br>
	<strong>Example</strong> 
	<p>M87</p>
    <p>Orion</p>
	<p>NGC3375</p>
</div>

<div id="ra" class="popbox">
	<strong>Right Ascension (RA)</strong> 
	<br>
	<strong>Description</strong> 
	<p> Right Ascension (RA) either in decimal degrees</p>
	<strong>Unit</strong> 
	<p>Decimal degrees</p>
	<p> Range:  0.0 to 1000.0 </p>
	<strong>Example</strong> 
	<p>32.5</p>
	<p>697</p>
</div>

<div id="dec" class="popbox">
	<strong>Dec</strong> 
	<p>Declination</p>
	<strong>Description</strong> 
	<p>Declination, +Degrees</p>
	<strong>Unit</strong> 
	<p>Degrees</p>
	<strong>Example</strong> 
	<p>+12.3911231  </p>
	<p>-5.39111111</p>
	<p>-09.9413056</p>
</div>

<div id="ang_size" class="popbox">
	<strong>ANG</strong> 
	<p>Circunference radius to be used in the search</p>
	<strong>Unit</strong> 
	<p>Degrees</p>
	<strong>Example</strong> 
	<p>33</p>
    <p>128</p>
</div>
<!--=== End Pop Boxes ===-->

			
