<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->



<h2>Time</h2>                        
<div class="group">
	<%= label_tag :observation_date, 'Observation time', class: 'control-label' %>
	<div class="container-input">
		<%= text_field_tag :observation_date, nil, class: 'form-control' %>
	</div>
	<div class="container-tooltip" >
		<div class="alert-info">
			<strong>Observation date</strong> 
			<p>Field integration start timestamp.</p><br>
			<strong>Description</strong> 
			<p>Start time of the first integration on the field.</p><br>
			<strong>Example</strong> 
			<p>&gt;01-01-2011</p>   
			<p>&lt;31-12-2011</p>     
			<p>01-01-2011 .. 01-02-2011</p>
		</div>
	</div>  
</div>
<div class="group">
	<%= label_tag :integration_time, 'Integration time', class: 'control-label' %>
	<div class="container-input">
		<%= text_field_tag :integration_time, nil, class: 'form-control' %>
	</div>
	<div class="container-tooltip" >
		<div class="alert-info">
			<strong>Integration time</strong> 
			<p>Total field integration time.</p><br>
			<strong>Description</strong> 
			<p>Aggregated integration time for the field in the ASDM.</p><br>
			<strong>Example</strong> 
			<p>&gt;12.5</p>     
			<p>&lt;30</p>     
			<p>30 .. 60</p>      
			<p>!(1 .. 300)</p>
		</div>
	</div>  
</div>								  	
