<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">About Us</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">About Us</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-6 md-margin-bottom-40">
      <div class="headline">
        <h2>What is the VO?</h2>
      </div>
      <p>The Virtual Observatory (VO) is a network constructed by many different people and organisations and spread all over the world explore astronomical data in a single transparent system. The VO will facilitate astronomy research inquiring multiple data centers in a seamless way, providing new powerful and efficient research. The VO gives datacenters a standard framework for publishing and delivering service using their data by standarization of data and metadata by standardization of data exchange methods, and by the use of a registry, which lists available services and what can be done with them. The data will be available to all researchers, independent of their affiliation or access to observing facilities.</p>
      <div class="headline">
        <h2>What is CHIVO?</h2>
      </div>
      <p>The Chilean Virtual Observatory (CHIVO) is the VO developed in Chile and it is one of many VO projects currently underway in the world. It born from the need to archive data that require large storage capacities and the need to develop new tools for the analyzing large volumes of data and better algorithms for intelligent processing astronomical data, this due to the volumes of large scale data that will generate the astronomical observatories in Chile, mainly the ALMA project that will generate over 1TB of data per day, and in this form be to able to store the data in the local territory to optimize the observation time of the chilean astronomers.</p>
      <p>Chivo is an initiative of the five most prestigious universities in the country, supported by the private institutions ALMA and REUNA. In addition of the use of the VO by scientists of astronomy area, the VO will be useful too for the students of schools, especially of schools of rural areas.</p>
    </div>

    <div class="col-md-6 md-margin-bottom-40">
      <div class="responsive-video">
        <iframe src="http://player.vimeo.com/video/76644462" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
      </div>
    </div>
  </div><!--/row-->
</div>
