<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Workshop Program</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Workshop Program</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-10 md-margin-bottom-40">
    Este Workshop es organizado por la Universidad Técnica Federico Santa María, Pontificia Universidad Católica de Chile, Universidad de Chile, Universidad de Santiago, y la Universidad de Concepción, junto con Atacama Large Millimeter/submillimeter Array (ALMA) y Red Universitaria Nacional (REUNA). <br><br>

    A realizarse el próximo 10 de enero 2013, en las Oficinas centrales de ALMA Santiago (Salón Licancabur), Alonso de Cordova 3107, Vitacura, Santiago de Chile. <br><br>

    Debido a la capacidad del recinto, los cupos serán limitados y se requiere inscripción. Posterior se confirmará su registro. <br><br>

    La inscripción se debe realizar en el siguiente link:<a href="http://bit.ly/1dKJQje"><li class="active">Workshop Registration</li></a> <br><br><br>
    <table class="table table-striped">
        <thead><tr><th>Time</th><th>Title</th><th>Speaker</th></tr></thead>
        <tbody>
          <tr><td>10:00 - 10:30</td><td>Proyecto FONDEF: Astroinformática</td><td>Mauricio Solar</td></tr>
          <tr><td>10:30 - 11:00</td><td>What is IVOA?</td><td>David Schade</td></tr>
          <tr><td>11:00 - 11:30</td><td>IVOA Standards</td><td>Severin Gaudet</td></tr>
          <tr><td>12:00 - 12:30</td><td>ChiVO</td><td>Jonathan Antognini</td></tr>
          <tr><td>14:00 - 14:30</td><td>ALMA</td><td>Jorge Ibsen</td></tr>
          <tr><td>15:00 - 15:30</td><td>Problemas en radioastronomía</td><td>Diego Mardones</td></tr>
          <tr><td>16:00 - 16:30</td><td>TBD</td><td>Juande Santander</td></tr>
        </tbody>
      </table>
  </div><!--/row-->
</div>