<!-- 
     This file is part of ChiVO, the Chilean Virtual Observatory
     A project sponsored by FONDEF (D11I1060)
     Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
                        Universidad de Chile
                        Pontificia Universidad Catolica
                        Universidad de Concepcion
                        Universidad de Santiago
    
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
    
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
    
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Workshop Program</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Workshop Program</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    <div class="col-md-10 md-margin-bottom-40">
      <p>Este Workshop es organizado por la Universidad Técnica Federico Santa María, Pontificia Universidad Católica de Chile, Universidad de Chile, Universidad de Santiago, y la Universidad de Concepción, junto con Atacama Large Millimeter/submillimeter Array (ALMA) y Red Universitaria Nacional (REUNA).</p>

      <p>A realizarse el próximo 10 de enero 2013, en las Oficinas centrales de ALMA Santiago (Salón Licancabur), Alonso de Cordova 3107, Vitacura, Santiago de Chile.</p>

      <p>Debido a la capacidad del recinto, los cupos serán limitados y se requiere inscripción. Posterior se confirmará su registro.</p>

      <p>La inscripción se debe realizar en el siguiente link:<a href="http://bit.ly/1dKJQje"><li class="active">Workshop Registration</li></a> </p>
      <table class="table table-striped">
        <thead><tr><th>Time</th><th>Title</th><th>Speaker</th></tr></thead>
        <tbody>
          <tr><td>10:00 - 10:15</td><td>Welcome</td><td>Jorge Ibsen</td></tr>
          <tr><td>10:15 - 10:30</td><td>FONDEF Project: Astroinformatics</td><td>Mauricio Solar</td></tr>
          <tr><td>10:30 - 11:00</td><td>What is IVOA?</td><td>David Schade</td></tr>
          <tr><td>11:00 - 11:30</td><td>IVOA Standards</td><td>Severin Gaudet</td></tr>
          <tr><td>12:00 - 12:15</td><td>ChiVO</td><td>Jonathan Antognini</td></tr>
          <tr><td>12:15 - 13:30</td><td>Lunch</td><td></td></tr>
          <tr><td>13:30 - 14:00</td><td>ALMA an VO</td><td>Jorge Ibsen</td></tr>
          <tr><td>14:00 - 14:30</td><td>VO science cases with ALMA</td><td>Diego Mardones</td></tr>
          <tr><td>14:30 - 15:00</td><td>Building a National Virtual Observatory: the case of the Spanish Virtual Observatory</td><td>Juan de Dios Santander</td></tr>
        </tbody>
      </table>
    </div><!--/row-->
  </div>
</div>
