<!--
     This file is part of ChiVO, the Chilean Virtual Observatory
     Copyright (C) 2015 Jonathan Antognini Cavieres <jonathan.antognini@gmail.com>
                        Cesar Parra Moreno <cparra@csrg.cl>
                        Constanza Soto <constanza.soto.12@sansano.usm.cl>
                        Jose Miguel Castro <jcastro@csrg.cl>
                        Marco Salinas <marco.salinas.12@sansano.usm.cl>
                        Felipe Morales <felipe.moralesm.12@sansano.usm.cl>
                        Luis E. Arevalo R. <arevalo@luchox.cl>
     
     This program is free software; you can redistribute it and/or modify 
     it under the terms of the GNU General Public License as published by 
     the Free Software Foundation; either version 2 of the License, or 
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program; if not, write to the Free Software
     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
     02110-1301, USA or visit <http://www.gnu.org/licenses/>.
-->


<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Undergraduate Thesis</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active">Undergraduate Thesis</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <!--navigation tabs-->
    <div class="tab-v2 col-sm-12">    
        <ul class="nav nav-tabs">         
            <li class="active"><a href="#UTFSM" data-toggle="tab">UTFSM</a></li>
            <li><a href="#UDEC" data-toggle="tab">UDC</a></li>              
        </ul>  
        <div class="tab-content">
            <!--UTFSM tab-->
            <div class="tab-pane active" id="UTFSM">
                <div class="headline">
                    <h2>Universidad Técnica Federico Santa Maria</h2>
                </div>
                <div class="row">
                    <!--First Thesis-->
                    <div class="col-md-3">                
                        <h4>Walter Rodrigo Fariña Pérez</h4>
                        <em>Santiago - Chile, Noviembre 2013</em>
                        <p>Profesor Guía: Mauricio Solar <br>
                        Profesor Correferente: Marcelo Mendoza</p>                                    
                    </div>
                    <div class="col-md-9">                    
                        <h2>Diseño conceptual de un Observatorio Virtual Astronómico para ALMA</h2>
                        <div align="justify">
                            <p>Este estudio analiza las necesidades de los astrónomos chilenos respecto a ALMA, definiendo las bases del diseño que posteriormente será el Observatorio Virtual Chileno. Se hace un estudio de necesidades, obtienen requerimientos, casos de uso y finalmente un modelo de datos, este último acorde a los estándares de IVOA, organización internacional de observatorios virtuales. Así, la comunidad astronómica chilena tendrá acceso global y homogeneizado a los datos astronómicos, posteriormente junto a herramientas para explorarlos y manipularlos.</p>
                            <div class="pull-right">
                                <a href="https://drive.google.com/file/d/0B-SeawSccUptQy1tVkQzaGVHbzQ/edit?usp=sharing">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>                
                    </div>
                    <div class="col-md-12"><hr></div>
                    <!--Second Thesis-->
                    <div class="col-md-3">                
                        <h4>Gabriel Andrés Candia Gallardo</h4>
                        <em>Santiago - Chile, Enero 2013</em>
                        <p>Profesor Guía: Marcelo Mendoza<br>
                        Profesor Correferente: Mauricio Solar</p>                                    
                    </div>
                    <div class="col-md-9">                    
                        <h2>Indexación de objetos astronómicos</h2>
                        <div align="justify">
                            <p>En el presente informe se muestran los pasos necesarios para generar un índice de objetos astronómicos. Para lograr este cometido, se utilizan técnicas de procesamiento de imágenes con el fin de obtener los objetos, extraer sus características y luego guardarlos en una base de datos. Esta base de datos permitirá consultas espaciales mediante coordenadas RA-DEC. Este índice de objetos astronómicos entregará una nueva herramienta a los astrónomos para realizar búsquedas por coordenadas de objetos en contraste con la búsqueda de imágenes por coordenada utilizada actualmente.</p>
                            <div class="pull-right">
                                <a href="https://drive.google.com/file/d/0B-SeawSccUptZzktM19RZjJDOG8/edit?usp=sharing">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>                
                    </div>                   
                </div>
            </div>  
            <!--UDEC tab-->
            <div class="tab-pane " id="UDEC">
                <div class="headline">
                    <h2>Universidad de Concepción</h2>
                </div>  
                <div class="row">
                    <!--First Thesis-->
                    <div class="col-md-3">                
                        <h4>Luis Gabriel Salazar Vergara</h4>
                        <em>Santiago - Chile, 2014</em>
                        <p>Profesor Patrocinante: Ricardo Contreras <br>
                        Comisíon: Ma. Angélica Pinninghoff, Neil M. Nagar</p>                                    
                    </div>
                    <div class="col-md-9">                    
                        <h2>Clasificación de galaxias según su morfología mediante redes neuronales artificiales</h2>
                        <div align="justify">
                            <p>Este trabajo trata sobre la clasificación de objetos astronómicos denominadas Galaxias, las cuales cumplen con ciertas propiedades que pueden generalizarse por medio de máquinas de aprendizaje automático como las Redes Neuronales Artificiales. Se muestra una visión de la morfología de galaxias y el proyecto Galaxy Zoo, además de las características de las redes neuronales y los distintos trabajos efectuados con respecto a clasificación de galaxias mediante redes neuronales. Asimismo, se describe la red neuronal, entrenada ocupando un conjunto de datos de galaxias clasificadas anteriormente por usuarios del proyecto Galaxy Zoo, junto a los resultados obtenidos durante el entrenamiento.<br>
                            Se consideró para el entrenamiento de la red neuronal un conjunto de doce parámetros de entrada, los cuales se basan en el color, el brillo, la forma y textura de la galaxia. Tomando en cuenta éstos parámetros, las galaxias se clasificaron en tres categorías: espiral, elípticas y objetos desconocidos/estrellas. Los resultados obtenidos muestran la capacidad de la red neuronal de reproducir la clasificación humana, llegando a obtener en el mejor resultado un 98 % de éxito en esta tarea. Sin embargo queda mucho por analizar e investigar sobre cómo afecta el sesgo de clasificación de los datos de Galaxy Zoo, elegido por ellos, además del sesgo elegido en este trabajo, en el rendimiento de la red neuronal al clasificar una galaxia en alguna categoría según su morfología.</p>
                            <div class="pull-right">
                                <a href="https://drive.google.com/file/d/0B-SeawSccUptd1VNLW94bmhTaGM/edit?usp=sharing">
                                    <span class="fa-stack">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-external-link fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>                
                    </div>          
                </div>
            </div>
        </div>
        <div class="margin-bottom-40"></div>
    </div><!--/navigation tabs-->
</div><!--/container-->
