<%= render 'panel_heading' %>
<div id="list-panel-body" class="panel-body">                    
	
	<!--=== Form ===-->
  <%= form_tag "/query/spectralsearch", remote: true, class: 'form-horizontal', role: 'form', method: 'get' , name: 'searchForm' do %>
		<i id="estate_process_query_list" class="" style="display:inline-block; margin-left:10px;"></i>
		<table id="query_list_table" class="table">
			<thead>
				<tr>
					<th>Position</th>
					<th>Angular Size</th>
					<th>Sources</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody  id="query_list_table_tbody">
			</tbody>
		</table>
		<div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <%= submit_tag 'Process', class: 'btn btn-default btn-block' %>
      </div>
    </div>
	<% end %>
</div>