// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ivoa {
  position:relative;
   left:60px;
   top:10px;
	}

.list-heading{
	font-size: 20px;
	color: #585F69;
	margin: 0px 0px -2px;
	padding-bottom: 5px;
	display: inline-block;
	}
