<div class="row tab-v3">
    <div class="col-sm-2">
        <ul id="resource_list"class="nav nav-pills nav-stacked"> 
                                 
        </ul>                    
    </div>
    <div class="col-sm-10">
        <div id="resource_content" class="tab-content">
            
        </div>                                    
    </div>
</div>
