/* 
 * This file is part of ChiVO, the Chilean Virtual Observatory
 * A project sponsored by FONDEF (D11I1060)
 * Copyright (C) 2015 Universidad Tecnica Federico Santa Maria
 *                    Universidad de Chile
 *                    Pontificia Universidad Catolica
 *                    Universidad de Concepcion
 *                    Universidad de Santiago
 *
 * This program is free software; you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by 
 * the Free Software Foundation; either version 2 of the License, or 
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 
 * 02110-1301, USA or visit <http://www.gnu.org/licenses/>.
*/


function update_action_state (add_class, strong, text) {
	$actions_state.removeClass("alert-warning alert-success alert-danger alert-info")
			.addClass(add_class).text("")
			.append("<strong></strong> " + text)
			.find("strong").text(strong);
 	}
$table_query = $("table#table_query");
$groups = $table_query.find(".group");


$ra_dec = $groups.find("#ra_dec");
$source_name_sesame = $groups.find("#source_name_sesame");
$search_radius = $groups.find("#search_radius");

$queryListTable = $("#query_list_table");
tr_amount = $queryListTable.find("tr").size();
id = 0;
if (tr_amount == 1){
	id = tr_amount;
}
else {
	id = parseInt($queryListTable.find("tr").last().attr('id')) + 1;	
}
$newTR = $("<tr id="+id+">" +
			"<td>"+$source_name_sesame.val()+"<input name='source_name_sesame_"+id+ "' type='text' class='form-control' value='"+$source_name_sesame.val()+"'style='display:none;'/></td>" +
			"<td>"+$ra_dec.val()+"<input name='ra_dec_"+id+"' type='text' class='form-control' value='"+$ra_dec.val()+"'style='display:none;'/></td>" +
			"<td>"+$search_radius.val()+"<input name='search_radius_"+id+"' type='text' class='form-control' value='"+$search_radius.val()+"' style='display:none;'/></td>" +
			"<td></td>" + 
			"<td></td>" +					
		"</tr>");

var multi_select = $('<select/>',{
		id: 'multi_select_resource'+id,
		multiple: 'multiple',
		style: 'float:center',
		name: 'resource_'+id+'[]'
	});

var delete_button = $('<a/>',
    {
        class: 'btn btn-danger btn-xs',
        style: 'height:20px',
        text: '',
        click: function () {
        	$(this).closest("tr").remove();
         }
    });

var trash_icon = $('<i/>',{class: 'fa fa-trash-o fa-fw '});
delete_button.prepend(trash_icon);

$newTR.find("td").last().append(delete_button)
	.prev().append(multi_select);

var data = new Array();
<% @datas.each do |d| %>
	var hash = { 
    	label: "<%= escape_javascript(d['label']) %>",
    	value: "<%= escape_javascript(d['value']) %>"
	};
	data.push(hash);
<% end %>

var config = {
	buttonWidth: '400px',
	buttonClass: 'btn btn-default btn-sm',
	includeSelectAllOption: true,
	enableFiltering: true,
	maxHeight: 200,
	checkboxName: '',
	filterPlaceholder: 'Search',
	selectedClass: null,
	onChange: function(option, checked) {	                    
            var selectedOptions = multi_select.find('option:selected');
				if (selectedOptions.length == 0) {
	        	multi_select.multiselect('select', option.val());
	     	}
            
        }
	}

multi_select.multiselect(config);
multi_select.multiselect('dataprovider', data);
multi_select.multiselect('select', "J/ApJ/473/822_http://vizier.u-strasbg.fr/viz-bin/votable/-A?-source=J/ApJ/473/822&");
$queryListTable.find("tbody").append($newTR);
$ra_dec.val("").closest(".container-input").slideUp();
$source_name_sesame.val("").closest(".container-input").slideUp();
update_action_state("alert-success", "Well done!", "cordinates added to the query list");
